.width74 {
  width: 74px;
  height: 27px;
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}
.width96 {
  width: 96px;
  height: 46px;
}
.width113 {
  width: 113px;
  height: 20px;
}
.width118 {
  width: 188px;
  height: 52px;
}
.width314 {
  width: 341px;
  height: 100px;
}
.width295 {
  width: 295px;
  height: 100px;
}
.width437 {
  width: 477px;
  height: 100px;
}
.width558 {
  width: 558px;
  height: 577px;
}
.width591 {
  width: 591px;
  height: 828px;
  left: -19px;
}
.width752 {
  width: 700px;
  //   height: 310px;
}
.width553 {
  width: 553px;
  height: 828px;
}
.width576 {
  width: 576px;
  height: 900px;
}
.pop18 {
  font-family: "Poppins" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  width: 89px;
  height: 20px;
}
.pop20 {
  font-family: "Poppins" sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.pop188 {
  font-family: "Poppins" sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
.pop32 {
  font-family: "Poppins" sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
}
.pop65 {
  font-family: "Poppins" sans-serif;
  font-size: 65px;
  font-weight: 600px;
  line-height: 100px;
  text-align: center;
}

.pop100 {
  font-family: "Poppins" sans-serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
  //   margin-top: 15px;
}
.pop55 {
  font-family: "Poppins" sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 80px;
}
