@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin image($url) {
  background-image: url($url);
  //   background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
@mixin background($url) {
  background-image: url($url);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1435px;
}
@mixin mobile($url) {
  background-image: url($url);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  // height: 100vh;
  // margin-top: 100px;
}
@mixin background-img($url) {
  height: 1800px;
  background-image: url($url);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin mobile-view($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin tablet($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin desktop($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin anyScreen($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
