@import "../Scss//extends";
@import "../Scss//includes";
@import "../Scss//variables";

#Portfolio {
  @include anyScreen(1045px) {
    .our {
      // margin-bottom: unset;
      width: 100%;
      height: unset;

      h5 {
        width: 300px;
        margin: $margin;
      }
    }
  }

  .section5 {
    max-width: $max;
    margin-top: 180px;

    .our {
      width: 600px;
      height: 180px;
      text-align: $align;
      margin: $margin;
      margin-bottom: $up;

      h5 {
        @extend .pop55;
      }
      h4 {
        @extend .pop65;
        color: $color;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
      height: 100vh;

      .item1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-image: url("../../assets/cup.svg");
        background-size: cover;
        background-position: center;
      }

      .item2,
      .item3,
      .item4,
      .item5 {
        background-size: cover;
        background-position: center;
      }

      .item2 {
        background-image: url("../../assets/brown.svg");
      }

      .item3 {
        background-image: url("../../assets/corner.svg");
      }

      .item4 {
        background-image: url("../../assets/wall.svg");
      }

      .item5 {
        background-image: url("../../assets/flower.svg");
      }
    }
  }
}
